.content {
    margin: 10px 0;
}

.body {
    overflow: hidden;
    margin: 10px 0;
 }

#content {
    min-height: 700px;
    font-size: 16px;
    margin-top: 20px;
}

#title {
    float: left;
    margin-right: 4px;
    font-weight: 600;
    font-family: 'Fjord One', serif;
    font-size: 1.5em;
}

#menu-container{
    padding: 15px 0;
}

#beta {
    font-size: 16px;
    color: grey;
    vertical-align: super;
}

.definition-number {
    background: yellow;
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
}

.entry-title-container {
    margin-top: 15px;
}

.entry-title {
    font-size: 35px;
    color: #0F4FE2;
    font-family: serif;
}

.tag {
    margin-right: 5px;
}

.definition:not(:last-child){
    margin: 0 0 30px 0;
}

.author {
    font-weight: 600;
    margin-top: 10px;
}

img {
    height: 250px;
}

.menu .item {
    font-size: 1em;
}

#about-title {
    padding: 5px;
    background: yellow;
}

#footer {
    height: 50px;
    margin-top: 20px;
}

#entries-divider {
    margin-left: 8px;
}

.twitter {
    float: right;
    font-size: 20px !important;
    color: black;
}

.twitter:hover {
    color: greenyellow !important;
}
