.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
    flex: 1;
    background: #E4E9E8;
    padding: 20px 5px;
    margin: 0;
}

.content {
    margin: 10px 0;
}

.entry-body {
    overflow: hidden;
    margin: 10px 0;
    font-size: 1.2em;
 }

#title {
     margin: 0px 5px;
     font-family: 'Fjord One', serif;
     color: white;
     font-size: 1.5em;
}

#beta {
    font-size: 1.2em;
    color: #2067AB;
    font-weight: 800;
}

.definition-number {
    background: #E6D050;
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
}

.entry-title-container {
    margin-top: 15px;
}

.entry-title {
    font-size: 35px;
    color: black;
    font-family: serif;
}

.tag {
    margin-right: 5px;
}

.definition:not(:last-child){
    margin: 0 0 30px 0;
}

.author {
    font-weight: 600;
    margin-top: 10px;
}

img {
    height: 250px;
}

.menu {
    border-radius: 0 !important;
    margin-bottom: 0px !important;
}

.menu .item {
    font-size: 1em;
}

#about-title {
    padding: 5px;
    background: #E6D050;
}

#about-page {
    font-size: 1.2em !important;
}

#entries-divider {
    margin-left: 8px;
}

.fa-twitter {
    float: right;
    font-size: 20px !important;
    color: black;
}

.fa-twitter:hover {
    color: #65B8D8 !important;
}

.entry-preview {
    text-decoration: inherit; /* no underline */
    color: black;
}

.entry-preview:hover {
    color: black;
}

.content.extra {
    background-color: #FDEDED !important;
}

.hp-cards {
    margin-bottom: 50px;
}

.card {
    overflow: hidden;
}

.segment {
    box-shadow: none !important;
    border: 0px solid !important;
}

.segments {
    box-shadow: none !important;
    border: 0px solid !important;
}

.hp-module-body {
    font-size: 1.2em;
}

.hp-module-title {
    background-color: #E6D050;
}

.hp-module-about {
    background-color: #F2908E;
}

.hp-module-recent {
    background-color: #D8E8C6;
}

.in-the-news {
    margin: 0px;
}

.content {
    padding: 10px !important;
}

.meta {
    min-height: 80px;
}

.card-description {
    font-size: 14px;
}

.entry-author {
    font-weight: 600;
}

.homepage-list {
    column-count: 2;
}
