.content {
    margin: 10px 0;
}

.body {
    overflow: hidden;
    margin: 10px 0;
 }

#inner-container {
    min-height: 1000px;
    font-size: 16px;
}

#title {
    float: left;
    margin-right: 10px;
}

#add-term {
    font-size: 20px;
    font-weight: 600;
}

#beta {
    font-size: 16px;
    color: yellow;
    vertical-align: super;
}

.definition-number {
    background: #EFFF37;
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
}

.entry-title {
    font-size: 35px;
    color: #0F4FE2;
    font-family: serif;
    margin: 10px 0;
}

.tag {
    margin-right: 5px;
}

.definition:not(:last-child){
    margin: 0 0 30px 0;
}

.author {
    font-weight: 600;
    margin-top: 10px;
}

img {
    height: 250px;
}

.menu .item {
    font-size: 1em;
}
