<!DOCTYPE html>

<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{% block title %}{% endblock %} - Tech Goggles</title>


    <script src="https://kit.fontawesome.com/847646d9e0.js"></script>
    <script type="text/javascript" src="static/external/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/external/js/semantic.min.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>

    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/external/css/fjord.css" >
    <link rel="stylesheet" type="text/css" href="static/external/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="static/external/css/popup.min.css">
  </head>
  {% endblock %}


  <body>
    <div class="ui menu fluid borderless">
      <div class="left menu">
        <a class="ui dropdown item">
          <i class="fas fa-bars fa-lg"></i>
          <div class="ui vertical menu">
            <div class="item" id="about-menu">About</div>
            <div class="item" id="contribute-menu">Contribute</div>
            <div class="divider"></div>
            <b id="entries-divider">Entries</b>
            <div class="item">Rhetorical Phrases</div>
            <div class="item">Technical Glossary</div>
            <div class="item">Lifestyle Terms</div>
          </div>
        </a>

        <a href="/" class="item">
          <span id="title">Tech Goggles</span>
          <span id="beta">beta</span>
        </a>

      </div>

      <div class="right menu">
        <div class="item">
          <div class="ui transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="fas fa-search fa-lg"></i>
          </div>
        </div>
      </div>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
    <div class="ui inverted vertical footer segment" id="footer"> </div>
  </body>
</html>
