<!DOCTYPE html>

<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{% block title %}{% endblock %} - Tech Buzz Dictionary</title>


    <script src="https://kit.fontawesome.com/847646d9e0.js"></script>
    <script type="text/javascript" src="static/external/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/external/js/semantic.min.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>

    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/external/css/fjord.css" >
    <link rel="stylesheet" type="text/css" href="static/external/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="static/external/css/popup.min.css">
  </head>
  {% endblock %}


  <body class="site">
    <div class="ui top menu inverted borderless">
      <div class="ui container">
        <a href="/" class="item">
          <h1 class="ui header" id="title">Tech Buzz Dictionary</h1>
          <div class="sub header" id="beta">beta</div>
        </a>
      </div>
    </div>

    <main class="site-content">
      <div class="ui main text container">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer>
      <div class="ui bottom stackable menu inverted large borderless">
        <div class="ui center aligned container">
          <div class="right item" id="about-menu">About</div>
          <div class="left item" id="contribute-menu">Contribute</div>
        </div>
      </div>
    </footer>

  </body>
</html>
