{% extends "base.html" %}

{% block content %}
    {{ super() }}

<div class="ui text container">
  <div class="ui relaxed divided items" id="inner-container">

    {% for e in entries %}
    {% for d in e.definitions %}

    <div class="item" id="entry-{{d.get('id')}}">

      <div class="content">
        {% if loop.index0 == 0 %}

        <span class="definition-number"> TOP DEFINITION </span>
        {% else %}
        <span class="definition-number">{{ loop.index }} </span>
        {% endif %}

        <div>
          <a href="{{url_for('entry', entry_id=e.get('id'))}}">
            <h2 class="entry-title"> {{ e.get("title") }} </h2>
          </a>
        </div>

        <div class="body">{{ d.get("body") | markdown }}</div>
        <div class="tags">
          {% for t in d.tags %} <span class="tag"> #{{ t }} </span> {% endfor %}
        </div>
        <div>
          by {{ d.get("author") }} {{ d.publish_date | datetime }}
        </div>

      </div> <!-- close content -->
    </div> <!-- close item -->
    {% endfor %}
    {% endfor %}

  </div> <!-- close ui relaxed items -->
</div> <!-- close ui container -->
{% endblock %}
