{% import 'cards.html' as cards %}
{% extends "homepage.html" %}

{% block twitter %}
<meta name="twitter:card" content="summary_large_image"></meta>
<meta name="twitter:site" content="@TechBuzzDict"/>
<meta name="twitter:title" content="Tech Buzzwords Dictionary" />

{% for e in entries %}
<meta
  name="twitter:image"
  content="http://thetechbuzzwords.com/static/twitter/twitter-card-{{ e.get('id') }}.png"
  />
{% endfor %}
{% endblock twitter %}

{% block topmodule %}
{% endblock topmodule %}

{% block content %}

{% for e in entries %}
<div class="ui segment">

  {% for d in e.definitions %}

  <div class="item" id="{{e.get('id')}}">

    <div class="content">
      <i class="fab fa-twitter" entry-id="{{e.get('id')}}"></i>

      {% if loop.index0 == 0 %}
      <span class="definition-number"> {{ e["pos"] }} </span>
      {% else %}
      <span class="definition-number">{{ loop.index }} </span>
      {% endif %}

      <div class="entry-title-container">
        <a href="{{url_for('entry', entry_id=e.get('id'))}}">
          <h2 class="entry-title">
            {{ e["title"] }}
          </h2>
        </a>
          <h4 class="entry-subhead">
            {{ e["teaser"] }}
          </h4>
      </div>
      <div class="entry-body">
        {{ d.get("body") | markdown }}
      </div>
    </div> <!-- close entry-title-container -->
    <div class="tags">
      {% for t in d.tags %} <span class="tag"> #{{ t }} </span> {% endfor %}
    </div>
    <div class="entry-author">
      by {{ d.get("author") }},  &nbsp; {{ d.publish_date | datetime }}
    </div>

  </div> <!-- close item -->
  {% endfor %}
</div>

{% endfor %}

<!-- recirculation -->
<div class="ui segment">
    <h2>More Definitions</h2>
  {{ cards.list(entries=random_entries) }}
</div>

</div>

{% endblock content %}
