{% extends "base.html" %}

{% block content %}
{{ super() }}

{% block topmodule %}
<div class="ui segment">
  <h3 class="ui header">
    <span class="hp-module-about">About this dictionary.</span>

  </h3>
  <div class="body hp-module-body">
    <p>
      Tech Buzzwords is a crowdsourced dictionary containing informational and satirical definitions of technical terms, rhetorical talking points, and technology metaphors. These terms often create narratives in the news, set up policy discussions, and hide the ideological, political, and other implications.
    </p>
  <p>
    Tech rhetoric sets the terms of public debate, so we invite you to help us debunk it.
  </p>
  <a href="{{ url_for('about') }}">
    <p>Learn more.</p>
  </a>
  </div>
</div>

<!-- A-F -->
<div class="ui segment">
  <h3>
    <span class="hp-module-recent">Entries &nbsp; A - F</span>
  </h3>
  <div class="body hp-module-body">
    <ul class="ui list homepage-list">
      {% for e in entries.get('a_f') %}
      <a href="{{url_for('entry', entry_id=e.get('id'))}}">
        <li>{{ e.title }}</li>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>


{% for m in hp_modules %}
<div class="ui segments">

  <div class="ui segment">

    <h3 class="ui header">
      <span class="hp-module-title">In the News</span>

    </h3>

    <h2 class="in-the-news">{{ m.get("title") }}</h2>

    <div class="ui segment">
      <div class="body hp-module-body">
        {{ m.get("body") | markdown }}
      </div>
    </div>
  </div>

  <div class="ui segment">
    <h3>Relevant Definitions</h3>
    <div class="ui three stackable cards compact">
      {% for e in m.get("entries") %}
      <a class="ui card" href="{{url_for('entry', entry_id=e.get('id'))}}">
        <div class="content">
          <div class="ui header entry-preview">{{ e.title }}</div>
          <div class="meta">
            <div class="card-description">
              {{ e.get('teaser') }}
            </div>
          </div>

          <p class="card-tags">
            {% for t in e.get("tags") %}
            #{{ t }}
            {% endfor %}
          </p>
        </div>

        <div class="extra content">
          <i class="fab fa-twitter" entry-id="entry-{{e.get('id')}}"></i>
        </div>

      </a>
      {% endfor %}
    </div>
  </div>
</div>

<!-- after first hp module we insert A-F entries -->
{% if loop.index0 == 0 %}

<!-- HACK, copying code. I don't understand this templating system -->

<!-- F-Z -->
<div class="ui segment">
  <h3>
    <span class="hp-module-recent">Entries &nbsp; G-Z</span>
  </h3>
  <div class="body hp-module-body">
    <ul class="ui list homepage-list">
      {% for e in entries.get('g_z') %}
      <a href="{{url_for('entry', entry_id=e.get('id'))}}">
        <li>{{ e.title }}</li>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>


{% endif %}

{% endfor %}



</div>

{% endblock %}
{% endblock %}
