{% import 'cards.html' as cards %}

{% extends "base.html" %}

{% block content %}
{{ super() }}

{% block topmodule %}
<div class="ui segment">
  <h3 class="ui header">
    <span class="hp-module-about hp-title">About this dictionary</span>
  </h3>
  <div class="body hp-module-body">
    {{ about_text | markdown }}
  </div>
</div>

<div class="ui segment">
  <h3 class="ui header">
    <span class="hp-module-title hp-title">How to Contribute</span>
  </h3>
  <div class="body hp-module-body">
    {{ contribute_text | markdown }}
  </div>
</div>

<!--Entry Names -->
  {% for g in entry_groups %}
<div class="ui segment">
  <h3>
    <span class="hp-module-recent hp-title">Entries &nbsp; {{ g["title"] }}</span>
  </h3>
  <div class="body hp-module-body">
    <ul class="ui list homepage-list">
      {% for e in g.get("entries") %}
      <a href="{{url_for('entry', entry_id=e['id']) }}">
        <li>{{ e["title"] }}</li>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}


</div>

{% endblock %}
{% endblock %}
