{% extends "base.html" %}

{% block content %}
{{ super() }}

{% block topmodule %}

{% for m in hp_modules%}


<div class="ui segments">
  <div class="ui segment">
    <h3>
      <span class="hp-module-title">In the News</span>
    </h3>
    <h2 class="in-the-news">{{ m.get("title") }}</h2>

    <div class="body hp-module-body">
      {{ m.get("body") | markdown }}
    </div>
  </div>

  <div class="ui segment">
    <h3>Relevant Definitions</h3>

    <div class="ui three stackable cards">
      {% for e in m.get("entries") %}
      <a class="ui black card" href="{{url_for('entry', entry_id=e.get('id'))}}">
        <div class="content">
          <div class="header entry-preview">{{ e.title }}</div>
          <div class="meta">
            <p>#hashtag #hashtag</p>
          </div>
          <div class="description">
            {{ e.get('teaser') }}
          </div>
        </div>

        <div class="extra content">
          <i class="fab fa-twitter" entry-id="entry-{{e.get('id')}}"></i>
        </div>

      </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endfor %}

</div>

{% endblock %}

{% endblock %}
